* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto Slab', serif;
  background-image: url(../images/upfeathers.png);
  background-repeat: repeat;
  padding: 50px; }

.wrapper {
  background: #f7de9c;
  height: 100%;
  min-height: 575px;
  padding: 25px 10%; }

h1 {
  text-transform: uppercase;
  font-size: 100px;
  text-align: center;
  letter-spacing: 50px;
  color: #bc2e1e;
  font-weight: 700;
  font-style: italic;
  line-height: 70px;
  text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd; }
  h1 span.smaller {
    font-size: 30px;
    color: #ffffff; }

h2 {
  text-align: center;
  padding: 30px 0 30px;
  letter-spacing: 25px;
  text-transform: uppercase;
  color: #b9a986;
  font-weight: 700;
  font-size: 20px; }

input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
  margin-bottom: 20px; }

button {
  width: 9%;
  background: rgba(33, 195, 112, 0.9);
  border: none;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px; }

#send {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #send li {
    padding: 5px 30px;
    margin: 10px 0; }
    #send li:nth-child(odd) {
      background: #b9a986;
      text-align: right;
      padding-right: 30px;
      color: #fbedc8; }
      #send li:nth-child(odd) span {
        float: right;
        padding-left: 20px; }
    #send li:nth-child(even) {
      background: #fbedc8;
      text-align: left;
      padding-right: 30px;
      color: #b9a986; }
      #send li:nth-child(even) span {
        float: left;
        padding-right: 20px; }
