// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab: 'Roboto Slab', serif;   

// Styles

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto-slab;
  font-weight: normal;
}

.button {
  font-family: $roboto-slab;
  font-weight: normal;
}

body {
  font-family: $roboto-slab;
  background-image: url(../imgs/upfeathers.png)}
  background-repeat:repeat-x;
	height:45px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
  }
  button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
  }
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    padding: 5px 10px;
    &:nth-child(odd) {
      background: #eee;
    }
  }
}